<html>
  <head>
    <title>Pages - About</title>
  </head>
  <body>
    <div align="left"><%= link_to 'Home', root_path  %>&nbsp;|&nbsp;<%= link_to 'About', about_path %></div>
    <div align="center"><h1>SOME REALLY BIG ABOUT IMAGE<BR>GOES IN THIS SPACE THIS TIME</h1></div>
    <table width="90%" align="center" cellpadding="10" cellspacing="0" border="0">
      <tr>
        <td width="50%">The left side now talks about what this is all about.</td>
        <td width="50%">The right side just pontificates.</td>
      </tr>
    </table>
  </body>
</html>