<html>
  <head>
    <title>Pages - Home</title>
  </head>
  <body>
    <div align="left"><%= link_to 'Home', root_path  %>&nbsp;|&nbsp;<%= link_to "Alpha Blog", articles_path  %>&nbsp;|&nbsp;<%= link_to "About", about_path %></div>
    <div align="center"><h1>SOME REALLY BIG IMAGE<BR>GOES IN THIS SPACE</h1></div>
    <table width="90%" align="center" cellpadding="10" cellspacing="0" border="0">
      <tr>
        <td width="50%">The left side represents everything that leans left, is never left out, and loves leftovers. This is that side.</td>
        <td width="50%">The right side is seldome actually right, yet here it is, on the right side at the moment, happy to be right.</td>
      </tr>
    </table>
  </body>
</html>