<div class="center jumbotron">
  <h1>DEBRIS</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
</div>

<table width="90%" align="center" cellpadding="10" cellspacing="0" border="0">
  <tr>
    <td align="center" width="50%">The left side represents everything that leans left, is never left out, and loves leftovers. This is that side.</td>
    <td align="center" width="50%">The right side is seldome actually right, yet here it is, on the right side at the moment, happy to be right.</td>
  </tr>
</table>


